<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="frvirtual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="frvirtual_V6.30.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V6.33.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V6.40.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V7.20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V7.30.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V7.40.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V7.50.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V7.70.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V8.10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V8.13.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V8.20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V8.30.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V9.10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V9.30.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V9.40.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual_V10.10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="frvirtual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <frvirtual_V6.30.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V6.30</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V6.30</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V6.30.Properties.Settings>
        <frvirtual_V6.33.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V6.33</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V6.33</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V6.33.Properties.Settings>
        <frvirtual_V6.40.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V6.40</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V6.40</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V6.40.Properties.Settings>
        <frvirtual_V7.20.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V7.20</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V7.20</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V7.20.Properties.Settings>
        <frvirtual_V7.30.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V7.30</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V7.30</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V7.30.Properties.Settings>
        <frvirtual_V7.40.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V7.40</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V7.40</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V7.40.Properties.Settings>
        <frvirtual_V7.50.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V7.50</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V7.50</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V7.50.Properties.Settings>
        <frvirtual_V7.70.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V7.70</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V7.70</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V7.70.Properties.Settings>
        <frvirtual_V8.10.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V8.10</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V8.10</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V8.10.Properties.Settings>
        <frvirtual_V8.13.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V8.13</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V8.13</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V8.13.Properties.Settings>
        <frvirtual_V8.20.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V8.20</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V8.20</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V8.20.Properties.Settings>
        <frvirtual_V8.30.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V8.30</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V8.30</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V8.30.Properties.Settings>
        <frvirtual_V9.10.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V9.10</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V9.10</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DRAM1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DRAM2" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V9.10.Properties.Settings>
        <frvirtual_V9.30.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V9.30</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V9.30</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DRAM1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DRAM2" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V9.30.Properties.Settings>
        <frvirtual.Properties.Settings>
            <setting name="VirtualRobots" serializeAs="String">
                <value>C:\ProgramData\FANUC\Virtual Robots</value>
            </setting>
        </frvirtual.Properties.Settings>
        <frvirtual_V9.40.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V9.40</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V9.40</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DRAM1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DRAM2" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V9.40.Properties.Settings>
        <frvirtual_V10.10.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\FANUC\Shared\Off Line\FRVRC\V10.10</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\ProgramData\FANUC\FRVRC Media\V10.10</value>
            </setting>
            <setting name="Default FROM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Default DRAM" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Default CMOS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DRAM1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DRAM2" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="Port Map\P1" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P2" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P3" serializeAs="String">
                <value>TCP:</value>
            </setting>
            <setting name="Port Map\P4" serializeAs="String">
                <value>TCP:</value>
            </setting>
        </frvirtual_V10.10.Properties.Settings>
    </applicationSettings>
    <system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>
